*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}

.navbar{
    height: 74px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}
.nav-logo{
    height: 45px;
    width: 95px;
}
    
.logo{
    background-image: url("img/amazon\ logo.png");
    background-size: cover;
    height: 45px;
    width: 95px;
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 10px;
    cursor: pointer;
}
.add-second{
    /* color: #cccccc; */
    font-size: 0.9rem;
    margin-left: 2px;
    cursor: pointer;
}
.add-icon
{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
   background-color: blue;
   width: 900px;
   height: 45px;
   border-radius: 8px;
}
.search-select{
    background-color: #f3f3f3;
    color: #cb8d19;
    border-top-left-radius: 7px;
     border-bottom-left-radius: 7px;
     width:45px ;
     font-size: 15px;
     cursor: pointer;
}
.search-input{
    width: 950px;
    font-size: 16px;
}

.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: #0f1111;
}
.add-lang{
    font-size: 0.85rem;
    cursor: pointer;
    /* margin-left: 13px; */
}
.add-list{
    font-size: 1rem;
    cursor: pointer;
}
.sizes{
    font-size: 22px;
    cursor: pointer;
}
.flag{
    width: 16px;
    height: 11px;
    margin-top: 2.2px;
    
}
.flex{
    display: flex;
}
.panel-all{
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight:bold;
}
.mess{
    font-weight: 95;
}
.panel{
    height: 44px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
   
}
.mess p {
       display: inline;
       margin-left: 17px;
       
       
}
      .panel-all{
        margin-right: 60%;

    }
  
.background{
    background-image: url(img/amazon.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
    align-items: end;
    justify-content: center;
}
#decom{
    text-decoration: none;
    color: rgb(65, 65, 197);
    margin-left: 4px;
}
 .divider{
    background-color: white;
    width: 95%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 380;
   font-size: 17px;
   margin-bottom: 19px;
   
} 
.box{
   background-color: #dfedea;
    display: flex;
    justify-content: space-evenly;
    margin-top: 19px;
}
.bare{
    background-color:#dfedea;
    /* border: #0f1111 solid 2px; */
    width: 22%;
    height: 380px;

}
.back{
    height: 280px;
    width: 400px;
    background-size: cover;
    margin-top: 14px;
    /* border: 2px solid black; */
    margin-left: 6.1px;
}
 .side
{
    margin-top: px;
    margin-left: 9px;
    text-decoration: none;
} 
  .gap{
    margin-top: 13px;
    margin-left: 19px;
    background-color:#dfedea;
  }
  .foot{
    height: 58px;
    background-color:#3a3f43;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  .for{
    height: 580px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
    
  }
  .large{
    font-size: 1.6rem;
    margin-top: 33px;
    
  }
  .large1{
    font-size: 1rem;
    margin-top: 20px;
  }
  .last{
    height: 68px;
    background-color: #232F3E;
    margin-top: 0.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.4px solid gray;
  }
  .custom{
    height: 65px;
  }

